# Bayesian analysis and modern machine learning algorithms applied for soil and rock probabilistic characterization

## Introduction

Modern programming languages made easier the use of statistical analysis of large amount of data. 
The Bayesian analysis is helpful to update knowledge of something.
Is particularly indicated when we have to deal with classification. 
This is why it is helpful when appled to geotechnical material.
The instrument we are going to use is pandas packages under python code for what concern the data manipulation.
The sklearn package and in particular SNN classification will be used in order to verify the omogeneity of the selected sample with respect to the other material obtained from other sample.
Successively we are going to use the package pcm3 for the bayesian analysis
An online database by means of Mysql open source will keep storage of the soil material and will be helpful for future analyis.
The criteria of storing data will be also the geografical area linked to climate and geological period, local atmosfere (lake, sea, desertic) and load history. This will be helpful to assimilate similar soil.

## Python packages to deal with data

We will make extensive use of Pandas packages to deal with data. This packages offer the peculiarity to communicate with a huge amount of data protocols like html, json, xls, db, csv and is constantly update to accomodate recent development like supporting the xxx format that is a development of the csv format but much faster and disk space optimization.
The following code show how this package will be use to upload data from the excel file.

In [1]:
import pandas as pd

In [2]:
xls = pd.ExcelFile('geotech.xlsm')

In [5]:
sheetsls = xls.sheet_names
sheetsls[11]

'TX2 (2)'

In [6]:
df1 = pd.read_excel(xls, sheetsls[11])

In [8]:
df1.columns

Index([  'Unnamed: 0',           'zw',              6,   'Unnamed: 3',
         'Unnamed: 4',   'Unnamed: 5',   'Unnamed: 6',   'Unnamed: 7',
         'Unnamed: 8',   'Unnamed: 9',
       ...
       'Unnamed: 106',          'All',        'All.1',        'All.2',
              'All.3', 'Unnamed: 111', 'Unnamed: 112',     'Cu / σ'c',
         'Cu / σ'c.1',   'Cu / σ'c.2'],
      dtype='object', length=116)

In [15]:
df1 = pd.read_excel(xls, sheetsls[1])

In [10]:
len(sheetsls)

24

In [20]:
for i in range(len(sheetsls)):
    df = pd.read_excel(xls, sheetsls[i])
    print('tabella {} nome: {}\n'.format(i,sheetsls[i]))
    print(df.head())

tabella 0 nome: BH_Coordin

   Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5
0         NaN        NaN        NaN        NaN        NaN        NaN
1         NaN        NaN        NaN        NaN        NaN        NaN
2         NaN   Borehole  Depth [m]   Location        NaN  Elevation
3         NaN        NaN        NaN       East      North        NaN
4         NaN       LR-9         60     251451     722218    -218.23
tabella 1 nome: Caratt_Compl (2)

          CODE    BH   Z1   Z2                Zm Zarr0,25 Descr_Geo   UG    G  \
0          496   NaN    m    m                 m        m       NaN  NaN    %
1          NaN   NaN  NaN  NaN  Wn PL e LL stime      NaN       NaN  NaN  NaN
2    LR01 - 02  LR01  NaN  NaN                 2        2     CL-Gr  1.0  NaN
3  LR01 - 03.5  LR01  NaN  NaN               3.5      3.5    CH(Gr)  2.0  NaN
4  LR01 - 04.5  LR01  NaN  NaN               4.5      4.5    CH(Gr)  2.0  NaN

     S  ... c'PMT j'IP  Unnamed: 104  Na+ Ca++ Mg++  K+ TDS  Na, %  SAR
0    %  ...   NaN  NaN           NaN  NaN  NaN  NaN NaN NaN    NaN  NaN
1  NaN  ...   NaN  NaN           NaN  NaN  NaN  NaN NaN NaN    NaN  NaN
2  NaN  ...   NaN  NaN           NaN  NaN  NaN  NaN NaN NaN    NaN  NaN
3  NaN  ...   NaN  NaN           NaN  NaN  NaN  NaN NaN NaN    NaN  NaN
4  NaN  ...   NaN  NaN           NaN  NaN  NaN  NaN NaN NaN    NaN  NaN

[5 rows x 112 columns]
tabella 2 nome: Ordina2

           CODE    BH   Z1   Z2    Zm Zarr0,25 Descr_Geo   UG    G    S  ...  \
0           406   NaN    m    m     m        m       NaN  NaN    %    %  ...
1     LR01 - 02  LR01  NaN  NaN     2        2     CL-Gr  1.0  NaN  NaN  ...
2   LR01 - 02.5  LR01  NaN  NaN   2.5      2.5     CL-Gr  1.0  NaN  NaN  ...
3  LR01 - 03.25  LR01  NaN  NaN  3.25     3.25    CH(Gr)  2.0  NaN  NaN  ...
4   LR01 - 03.5  LR01  NaN  NaN   3.5      3.5    CH(Gr)  2.0  NaN  NaN  ...

  c'PMT j'IP  Unnamed: 98  Na+ Ca++  Mg++  K+  TDS  Na, %  SAR
0   NaN  NaN          NaN  NaN  NaN   NaN NaN  NaN    NaN  NaN
1   NaN  NaN          NaN  NaN  NaN   NaN NaN  NaN    NaN  NaN
2   NaN  NaN          NaN  NaN  NaN   NaN NaN  NaN    NaN  NaN
3   NaN  NaN          NaN  NaN  NaN   NaN NaN  NaN    NaN  NaN
4   NaN  NaN          NaN  NaN  NaN   NaN NaN  NaN    NaN  NaN

[5 rows x 106 columns]
tabella 3 nome: Ordina

           CODE    BH   Z1   Z2    Zm Zarr0,25 Descr_Geo   UG    G    S  ...  \
0           494   NaN    m    m     m        m       NaN  NaN    %    %  ...
1     LR01 - 02  LR01  NaN  NaN     2        2     CL-Gr  1.0  NaN  NaN  ...
2     LR01 - 02  LR01  NaN  NaN     2        2     CL-Gr  1.0  NaN  NaN  ...
3   LR01 - 02.5  LR01  NaN  NaN   2.5      2.5     CL-Gr  1.0  NaN  NaN  ...
4  LR01 - 03.25  LR01  NaN  NaN  3.25     3.25    CH(Gr)  2.0  NaN  NaN  ...

  c'PMT j'IP  Unnamed: 98  Na+ Ca++  Mg++  K+  TDS  Na, %  SAR
0   NaN  NaN          NaN  NaN  NaN   NaN NaN  NaN    NaN  NaN
1   NaN  NaN          NaN  NaN  NaN   NaN NaN  NaN    NaN  NaN
2   NaN  NaN          NaN  NaN  NaN   NaN NaN  NaN    NaN  NaN
3   NaN  NaN          NaN  NaN  NaN   NaN NaN  NaN    NaN  NaN
4   NaN  NaN          NaN  NaN  NaN   NaN NaN  NaN    NaN  NaN

[5 rows x 106 columns]
tabella 4 nome: Caratt_Compl

          CODE                BH   Z1   Z2   Zm Zarr0,25 Descr_Geo   UG    G  \
0          611               NaN    m    m    m        m       NaN  NaN    %
1          NaN  Wn PL e LL stime  NaN  NaN  NaN      NaN       NaN  NaN  NaN
2    LR01 - 02              LR01  NaN  NaN    2        2     CL-Gr  1.0  NaN
3  LR01 - 03.5              LR01  NaN  NaN  3.5      3.5    CH(Gr)  1.0  NaN
4  LR01 - 04.5              LR01  NaN  NaN  4.5      4.5    CH(Gr)  1.0  NaN

     S  ... Unnamed: 118  UCS  ucs  Cu,Ucs Ca++ Mg++  K+ TDS  Na, %  SAR
0    %  ...          NaN  NaN  NaN     NaN  NaN  NaN NaN NaN    NaN  NaN
1  NaN  ...          NaN  NaN  NaN     NaN  NaN  NaN NaN NaN    NaN  NaN
2  NaN  ...          NaN  NaN  NaN     NaN  NaN  NaN NaN NaN    NaN  NaN
3  NaN  ...          NaN  NaN  NaN     NaN  NaN  NaN NaN NaN    NaN  NaN
4  NaN  ...          NaN  NaN  NaN     NaN  NaN  NaN NaN NaN    NaN  NaN

[5 rows x 128 columns]
tabella 5 nome: Caratt_Compl (3)

           CODE    BH   Z1   Z2    Zm Zarr0,25 Descr_Geo   UG    G    S  ...  \
0           477   NaN    m    m     m        m       NaN  NaN    %    %  ...
1     LR01 - 02  LR01  NaN  NaN     2        2     CL-Gr  1.0  NaN  NaN  ...
2   LR01 - 02.5  LR01  NaN  NaN   2.5      2.5     CL-Gr  1.0  NaN  NaN  ...
3  LR01 - 03.25  LR01  NaN  NaN  3.25     3.25    CH(Gr)  1.0  NaN  NaN  ...
4   LR01 - 03.5  LR01  NaN  NaN   3.5      3.5    CH(Gr)  1.0  NaN  NaN  ...

  c'PMT j'IP  Unnamed: 107  Na+ Ca++ Mg++  K+ TDS  Na, %  SAR
0   NaN  NaN           NaN  NaN  NaN  NaN NaN NaN    NaN  NaN
1   NaN  NaN           NaN  NaN  NaN  NaN NaN NaN    NaN  NaN
2   NaN  NaN           NaN  NaN  NaN  NaN NaN NaN    NaN  NaN
3   NaN  NaN           NaN  NaN  NaN  NaN NaN NaN    NaN  NaN
4   NaN  NaN           NaN  NaN  NaN  NaN NaN NaN    NaN  NaN

[5 rows x 115 columns]
tabella 6 nome: Borelog

  Unnamed: 0 Unnamed: 1 Unnamed: 2                 Unnamed: 3 Unnamed: 4  \
0        125        NaN        NaN                        NaN        NaN
1        NaN        NaN        NaN                        NaN        NaN
2         BH         Zs         Zi                      Descr         Cl
3       LR01          0        2.8      Light brown greenish         NaN
4       LR01        2.8        7.1  light brown greenish (Gr)        NaN

             Unnamed: 5 Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9  \
0                   NaN        NaN        NaN        NaN        NaN
1                   NaN        NaN        NaN        NaN        NaN
2                Colour  Stiffness      Class       Unit      Water
3  light brown greenish        NaN      CL-Gr          1        NaN
4  light brown greenish        NaN     CH(Gr)          1        NaN

  Unnamed: 10
0         NaN
1         NaN
2      PHOTOS
3         NaN
4         NaN
tabella 7 nome: Water

   LR01  11.7  <--Non spostare  Unnamed: 3  Unnamed: 4 Unnamed: 5 Borehole  \
0  LR03   2.0              NaN         NaN         NaN        NaN      NaN
1  LR04   4.4              NaN         NaN         NaN        NaN     LT01
2  LR06   3.2              NaN         NaN         NaN        NaN     LR01
3  LR07   9.8              NaN         NaN         NaN        NaN     LR03
4  LR08   9.5              NaN         NaN         NaN        NaN     LR03

    Top  Bottom  K (m/hr)     K (m/sec) cm/sec  m/sec  <--Non spostare.1  \
0   NaN     NaN       NaN           NaN    NaN    NaN                NaN
1   7.0     9.6   0.00086  2.388889e-07    NaN    NaN                NaN
2   7.0    14.5   0.00320  8.888889e-07    NaN    NaN                NaN
3   6.0    10.5   0.00083  2.305556e-07    NaN    NaN                NaN
4  14.0    16.5   0.00024  6.666667e-08    NaN    NaN                NaN

  Preliminary boreholes (G.Y.A) Unnamed: 15 New boreholes Unnamed: 17
0                      borehole          WL      borehole          WL
1                          LR-1      -240.3          LR-9      -227.7
2                    LR-3 (0-7)      -225.8         LR-10      -229.4
3                LR-3-2 (12-25)      -222.5         LR-11      -227.6
4                    LR-4 (5-8)      -229.1         LR-12      -224.3
tabella 8 nome: UCS

  Unnamed: 0 Unnamed: 1 Unnamed: 2 Unnamed: 3  Unnamed: 4 Unnamed: 5  \
0   n. tests         BH       from         to  avg. Depth  elevation
1        NaN        NaN          m          m           m          m
2          1      TRT05       10.6       10.9       10.75    -229.36
3          2      TRT05         16       16.8        16.4    -235.26
4          3      TRT05         22       22.8        22.4    -241.26

  Unnamed: 6           Unnamed: 7         Unnamed: 8  \
0        UCS  Cu derived from UCS  strain at failure
1        kPa                  kPa                  %
2      280.1               140.05               5.31
3      249.5               124.75               5.06
4      360.1               180.05               7.04

                          Unnamed: 9  ...  Unnamed: 19  Unnamed: 20  \
0  Cu derived from Vane Test (field)  ...          NaN          NaN
1                                kPa  ...          NaN          NaN
2                                217  ...          NaN          NaN
3                                155  ...          NaN          NaN
4                                289  ...          NaN          NaN

   Unnamed: 21           Unnamed: 22  Unnamed: 23  Unnamed: 24  Unnamed: 25  \
0          NaN  VANE TEST LABORATORY          NaN          NaN          NaN
1          NaN                   NaN        Depth      L Limit      P Limit
2          NaN                   NaN          (m)          NaN          NaN
3          NaN                 TRT-4         36.5           97           37
4          NaN                 TRT-4         44.1           71           33

   Unnamed: 26  Unnamed: 27  Unnamed: 28
0          NaN          NaN          NaN
1      P Index  Undisturbed    Remoulded
2          NaN          kPa          kPa
3           60          136            6
4           38          350          NaN

[5 rows x 29 columns]
tabella 9 nome: FVT

   Unnamed: 0  Unnamed: 1  Unnamed: 2 Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0         NaN         NaN         NaN        NaN         NaN         NaN
1         NaN         NaN         NaN        NaN         NaN         NaN
2         NaN         NaN         NaN        NaN         NaN         NaN
3         NaN         NaN         NaN        NaN         NaN         NaN
4         NaN         NaN         NaN        NaN         NaN         NaN

   Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  Unnamed: 14  \
0         NaN         NaN         NaN         NaN  ...          NaN
1         NaN         NaN         NaN         NaN  ...          NaN
2         NaN         NaN         NaN         NaN  ...          NaN
3         NaN         NaN         NaN         NaN  ...          NaN
4         NaN         NaN         NaN         NaN  ...          NaN

   Unnamed: 15 Unnamed: 16 Unnamed: 17 Unnamed: 18  Unnamed: 19 Unnamed: 20  \
0          NaN         NaN         NaN         NaN          NaN         NaN
1          NaN         NaN         NaN         NaN          NaN         NaN
2          NaN         NaN         NaN         NaN          NaN         NaN
3          NaN         NaN         NaN         NaN          NaN         NaN
4          NaN         NaN         NaN         NaN          NaN         NaN

  Unnamed: 21 Unnamed: 22 Unnamed: 23
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN

[5 rows x 24 columns]
tabella 10 nome: Cu

   Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4 Unnamed: 5  \
0         NaN         NaN         NaN         NaN         NaN        NaN
1         NaN         NaN         NaN         NaN         NaN         Cu
2         NaN         NaN         NaN         NaN         NaN        NaN
3         NaN         NaN         NaN         NaN         NaN        NaN
4         NaN         NaN         NaN         NaN         NaN        NaN

  Unnamed: 6  Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10  Unnamed: 11  \
0        NaN         NaN        NaN        NaN         NaN          NaN
1          z         NaN        s'v          z     Cu(0.4)          NaN
2        NaN         NaN        NaN        NaN         NaN          NaN
3        NaN         NaN        NaN        NaN         NaN          NaN
4        NaN         NaN        NaN        NaN         NaN          NaN

   Unnamed: 12 Unnamed: 13  Unnamed: 14  Unnamed: 15 Unnamed: 16 Unnamed: 17  \
0          NaN         NaN          NaN          NaN         NaN         NaN
1          NaN         OCR          NaN          NaN         s'v           z
2          NaN         NaN          NaN          NaN         NaN         NaN
3          NaN         NaN          NaN          NaN         NaN         NaN
4          NaN         NaN          NaN          NaN         NaN         NaN

  Unnamed: 18
0         NaN
1     Cu(0.4)
2         NaN
3         NaN
4         NaN
tabella 11 nome: TX2 (2)

    Unnamed: 0    zw    6 Unnamed: 3 Unnamed: 4 Unnamed: 5 Unnamed: 6  \
0           81   NaN   z1         z2       zave   Zarr0,25  Descr_Geo
1          NaN   NaN    m          m          m          m        NaN
2  LR01 - 06.5  LR01  6.2        6.4        6.3        6.5     CH(Gr)
3  LR01 - 06.5  LR01  6.2        6.4        6.3        6.5     CH(Gr)
4  LR01 - 06.5  LR01  6.2        6.4        6.3        6.5     CH(Gr)

  Unnamed: 7 Unnamed: 8 Unnamed: 9  ... Unnamed: 106      All  All.1  \
0         UG       gwet       gdry  ...          NaN       Cu  Cu,NC
1        NaN      kN/m3      kN/m3  ...          NaN      Kpa    Kpa
2          1      18.72      14.08  ...          NaN  103.328  22.68
3          1        NaN        NaN  ...          NaN  103.328  22.68
4          1      19.03      14.59  ...          NaN  103.328  22.68

       All.2      All.3 Unnamed: 111 Unnamed: 112 Cu / σ'c Cu / σ'c.1  \
0  OCR (Exp)  Cu,oc,exp          NaN          NaN      1.0       2.00
1          -        Kpa          NaN          NaN      0.2       0.27
2    4.36478    73.7247          NaN          NaN      NaN        NaN
3    4.36478    73.7247          NaN          NaN      NaN        NaN
4    4.36478    73.7247          NaN          NaN      NaN        NaN

  Cu / σ'c.2
0       3.00
1       0.42
2        NaN
3        NaN
4        NaN

[5 rows x 116 columns]
tabella 12 nome: Oed s'p

           CODE    BH   Z1   Z2    Zm  Zm.1 s'poed s'pEQU s'poed.1 s'pEQU.1  \
0  LR01 - 06.25  LR01  NaN  NaN   6.2  6.25    6.5    6.2    17.25     6.25
1           NaN   NaN  NaN  NaN   NaN   NaN    800  797.6      800      712
2           NaN   NaN  NaN  NaN   NaN   NaN    NaN    NaN      NaN      NaN
3     LR01 - 17  LR01  NaN  NaN  16.8    17    6.5   16.8    17.25       17
4           NaN   NaN  NaN  NaN   NaN   NaN    800  882.4      800      798

  s'poed.2 s'pEQU.2  Unnamed: 12 s'pave
0      NaN      NaN          NaN  754.8
1      NaN      NaN          NaN    NaN
2      NaN      NaN          NaN    NaN
3      NaN      NaN          NaN  840.2
4      NaN      NaN          NaN    NaN
tabella 13 nome: Oed

            CODE     BH     Z1    Z2      Zm Zarr0,25 Descr_Geo   UG    G  \
0            427    NaN      m     m       m        m       NaN  NaN    %
1    LR01 - 06.5   LR01    6.4  6.45   6.425      6.5    CH(Gr)  1.0  NaN
2   LR09 - 05.25   LR09    NaN   NaN    5.25     5.25        CL  1.0  NaN
3  TRT05 - 04.75  TRT05   4.55   4.6   4.575     4.75        CH  1.0  NaN
4   LR03 - 10.25   LR03  10.05  10.1  10.075    10.25       Var  2.0  NaN

     S  ... c'PMT j'IP  Unnamed: 107  Na+ Ca++ Mg++  K+ TDS  Na, %  SAR
0    %  ...   NaN  NaN           NaN  NaN  NaN  NaN NaN NaN    NaN  NaN
1  NaN  ...   NaN  NaN           NaN  NaN  NaN  NaN NaN NaN    NaN  NaN
2  NaN  ...   NaN  NaN           NaN  NaN  NaN  NaN NaN NaN    NaN  NaN
3  NaN  ...   NaN  NaN           NaN  NaN  NaN  NaN NaN NaN    NaN  NaN
4  NaN  ...   NaN  NaN           NaN  NaN  NaN  NaN NaN NaN    NaN  NaN

[5 rows x 115 columns]
tabella 14 nome: TX

   Unnamed: 0  Unnamed: 1 Unnamed: 2 Unnamed: 3 Unnamed: 4 Unnamed: 5  \
0         NaN         NaN        NaN        NaN        NaN        NaN
1         NaN         NaN        NaN        NaN        NaN        NaN
2         NaN         NaN         BH       zinf       zsup         c'
3         NaN         NaN        NaN        (m)        (m)        kPa
4         NaN         NaN       LR04        7.9        8.2         32

  Unnamed: 6 Unnamed: 7 Unnamed: 8 Unnamed: 9 Unnamed: 10 Unnamed: 11
0        NaN        NaN        NaN        NaN         NaN         NaN
1        NaN        NaN        NaN        NaN         NaN         NaN
2          j         BH       zinf       zsup          c'           j
3          °        NaN        (m)        (m)         kPa           °
4         20      TRT05      28.53      28.63          60          24
tabella 15 nome: Ic

           CODE    BH   Z1   Z2    Zm Zarr0,25 Descr_Geo   UG        Ic
0            67   NaN    m    m     m        m       NaN  NaN       NaN
1   LR01 - 06.5  LR01  NaN  NaN   6.5      6.5    CH(Gr)  1.0  0.983607
2  LR03 - 02.75  LR03  NaN  NaN  2.75     2.75     CL-Gr  1.0  0.931818
3  LR04 - 00.75  LR04    0  1.5  0.75     0.75     CL-Gr  1.0  0.852941
4     LR09 - 05  LR09  NaN  NaN     5        5        CL  1.0  1.024615
tabella 16 nome: PMT

  INPUT  INPUT.1 INPUT.2             INPUT.3  ORDINE INPUT.4  \
0   NaN      NaN     NaN                 NaN     NaN     NaN
1   NaN      NaN     NaN                 (m)     NaN     (-)
2   NaN      NaN     NaN                   z  Ordine   Em/PL
3     0      2.0    Lyth  Profondeur\nEssai        1   Em/PL
4     0      3.0       0                 (m)       2       0

            INPUT.5                 INPUT.6           INPUT.7  \
0               NaN                     NaN               NaN
1               Mpa                     Mpa               Bar
2                Pl                      Em                Pl
3  Pression\nlimite  Module pressiomètrique  Pression\nlimite
4          PL (MPa)                Em (MPa)         PL (bars)

                  INPUT.8  ...  \
0                     NaN  ...
1                     Bar  ...
2                      Em  ...
3  Module pressiomètrique  ...
4               Em (bars)  ...

                                       LINEE PRESSIORAMA Unnamed: 67  \
0                                                NaN             NaN
1                                                NaN           sur y
2                                           Rocheaux        Arg/comp
3                                                NaN             NaN
4                                                NaN             NaN

  Unnamed: 68  Unnamed: 69   Unnamed: 70 Unnamed: 71 Unnamed: 72 Unnamed: 73  \
0         NaN          NaN           NaN         NaN         NaN         NaN
1         NaN          NaN  alpha  sur y         NaN         NaN         NaN
2      Interm  Sabl/altere         0.667         1.5       0.333        ysup
3         NaN          NaN           NaN         NaN         NaN         NaN
4         NaN          NaN           NaN         NaN         NaN         NaN

          Unnamed: 74   Unnamed: 75
0                 NaN           NaN
1  Ovoide de validité           NaN
2                yinf  Verification
3                 NaN           NaN
4                 NaN           NaN

[5 rows x 76 columns]
tabella 17 nome: SPT

   Unnamed: 0  CE  CB  CR  CS
0         NaN   1   1   1   1
tabella 18 nome: SPT-Phi

           CODE    BH   Z1   Z2     Zm Zarr0,25 Descr_Geo   UG      σ'v  NSPT  \
0            23   NaN    m    m      m        m       NaN  NaN    [kPa]   NaN
1   LR01 - 11,5  LR01  NaN  NaN   11.5     11.5     Sn-CH  4.0   206.25  25.0
2   LR01 - 11,5  LR01  NaN  NaN   11.5     11.5     Sn-CH  4.0   206.25  25.0
3  LR01 - 13,25  LR01  NaN  NaN  13.25    13.25     Sn-CH  4.0  221.375  55.0
4   LR03 - 15,5  LR03  NaN  NaN   15.5     15.5        Gr  4.0   141.25  35.0

    N60      j'SPT        CN     (N1)60    j'SPT.1
0   NaN        NaN       NaN        NaN        NaN
1  25.0  24.491265  0.689664  17.241599  25.713283
2  25.0  24.491265  0.689664  17.241599  27.211990
3  55.0  43.474542  0.665687  36.612797  26.675935
4  35.0  40.191684  0.833375  29.168112  25.579493
tabella 19 nome: Grafici - BH

   Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  Unnamed: 86  \
0         NaN         NaN         NaN         NaN  ...          NaN
1         NaN         NaN         NaN         NaN  ...          NaN
2         NaN         NaN         NaN         NaN  ...          NaN
3         NaN         NaN         NaN         NaN  ...          NaN
4         NaN         NaN         NaN         NaN  ...          NaN

           CODE    BH   Z1   Z2    Zm  Zarr0,25  Descr_Geo   UG  NSPT
0           576   NaN    m    m     m         m        NaN  NaN   NaN
1   LR01 - 02.5  LR01  NaN  NaN   2.5       2.5      CL-Gr  1.0  17.0
2  LR01 - 03.25  LR01  NaN  NaN  3.25      3.25     CH(Gr)  1.0  11.0
3   LR01 - 03.5  LR01  NaN  NaN   3.5       3.5     CH(Gr)  1.0  11.0
4  LR01 - 08.25  LR01  NaN  NaN  8.25      8.25  CH-Sn(Gr)  2.0  62.0

[5 rows x 96 columns]
tabella 20 nome: Grafici - TX

   Unnamed: 0  Unnamed: 1  Unnamed: 2 Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0         NaN         NaN         NaN        NaN         NaN         NaN
1         NaN         NaN         NaN        NaN         NaN         NaN
2         NaN         NaN         NaN        NaN         NaN         NaN
3         NaN         NaN         NaN        NaN         NaN         NaN
4         NaN         NaN         NaN        NaN         NaN         NaN

   Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...  Unnamed: 56  \
0         NaN         NaN         NaN         NaN  ...          NaN
1         NaN         NaN         NaN         NaN  ...          NaN
2         NaN         NaN         NaN         NaN  ...          NaN
3         NaN         NaN         NaN         NaN  ...          NaN
4         NaN         NaN         NaN         NaN  ...          NaN

   Unnamed: 57  Unnamed: 58 Unnamed: 59  Unnamed: 60  Unnamed: 61  \
0          NaN          NaN         NaN          NaN          NaN
1          NaN          NaN         NaN          NaN          NaN
2          NaN          NaN         NaN          NaN          NaN
3          NaN          NaN         NaN          NaN          NaN
4          NaN          NaN         NaN          NaN          NaN

   Unnamed: 62  Unnamed: 63  Unnamed: 64  Unnamed: 65
0          NaN          NaN          NaN          NaN
1          NaN          NaN          NaN          NaN
2          NaN          NaN          NaN          NaN
3          NaN          NaN          NaN          NaN
4          NaN          NaN          NaN          NaN

[5 rows x 66 columns]

tabella 21 nome: Grafici - Cu

   Unnamed: 0  Unnamed: 1  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0         NaN         NaN         NaN         NaN         NaN         NaN
1         NaN         NaN         NaN         NaN         NaN         NaN
2         NaN         NaN         NaN         NaN         NaN         NaN
3         NaN         NaN         NaN         NaN         NaN         NaN
4         NaN         NaN         NaN         NaN         NaN         NaN

   Unnamed: 6  Unnamed: 7  Unnamed: 8  Unnamed: 9  ...        Ug3  \
0         NaN         NaN         NaN         NaN  ...  30.000000
1         NaN         NaN         NaN         NaN  ...  26.000000
2         NaN         NaN         NaN         NaN  ...  50.000000
3         NaN         NaN         NaN         NaN  ...   1.190646
4         NaN         NaN         NaN         NaN  ...   0.357810

   Unnamed: 192  Unnamed: 193  Zm.4    ocr2.1      Aske          a         b  \
0           NaN           NaN     m       NaN       NaN        NaN       NaN
1           NaN           NaN     1  7.098000  0.056092  44.144605  0.717692
2           NaN           NaN     2  6.068676  0.082569  42.528291  0.691414
3           NaN           NaN     4  5.039353  0.113980  40.757938  0.662632
4           NaN           NaN     6  4.437237  0.135485  39.628555  0.644271

   s'v.2        Cu.7
0    NaN         NaN
1   18.0   57.063062
2   36.0   67.419211
3   72.0   88.467476
4  108.0  109.209852

[5 rows x 201 columns]
tabella 22 nome: Ogni3

     113.4   754.8  Unnamed: 2  Unnamed: 3  Unnamed: 4  Unnamed: 5  \
0   98.000  596.16         NaN         NaN         NaN         NaN
1  117.800     NaN         NaN         NaN         NaN         NaN
2  108.400  561.76         NaN         NaN         NaN         NaN
3  438.375  850.00         NaN         NaN         NaN         NaN
4  200.375  550.00         NaN         NaN         NaN         NaN

   Unnamed: 6  Unnamed: 7  Unnamed: 8  \
0         NaN         NaN         NaN
1         NaN         NaN         NaN
2         NaN         NaN         NaN
3         NaN         NaN         NaN
4         NaN         NaN         NaN

   FAR PARTIRE LA MACRO PER PRENDERE I DATI OGNI TRE RIGHE
0                                                NaN
1                                                NaN
2                                                NaN
3                                                NaN
4                                                NaN
tabella 23 nome: NOTE

   Unnamed: 0                                         Unnamed: 1
0         NaN                                                NaN
1         NaN  La relazione phi' / IP è una regressione iperb...
2         NaN                                                NaN
3         NaN  relazione Phir,res/CF è una regressione espone...
4         NaN                                                NaN